@import "tailwindcss";

@theme {
  --color-primary: #511C24;
  --color-primary-light: #7A2B35;
  --color-accent: #CC7F18;
  --color-accent-light: #E8961E;
  --color-bg: #FDF8F5;
  --color-surface: #FFFFFF;
  --font-sans: var(--font-heebo);
}

body {
  background-color: var(--color-bg);
  color: #1a1a1a;
  direction: rtl;
}
